<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="user" class="com.szh.lifecycle.User" init-method="initBean" destroy-method="destroyBean"
          scope="prototype">
        <property name="name" value="张三"></property>
    </bean>
    <!--配置Bean后处理器。这个后处理器将作用于当前配置文件中所有的bean。-->
    <bean class="com.szh.lifecycle.UserBeanPostProcessor"></bean>

    <!-- 九、Bean的循环依赖问题-->
    <bean id="wife" class="com.szh.lifecycle.Wife" scope="singleton">
        <property name="name" value="美女"></property>
        <property name="husband" ref="husband"></property>
    </bean>
    <bean id="husband" class="com.szh.lifecycle.Husband" scope="singleton">
        <property name="name" value="帅哥"></property>
        <property name="wife" ref="wife"></property>
    </bean>
    <context:component-scan base-package="com.szh.loc"></context:component-scan>
</beans>